# For more configuration options, see https://github.com/coreos/etcd/blob/master/Documentation/configuration.md

[Unit]
Description=Etcd Server
After=network.target

[Service]
Type=simple
# etc logs to the journal directly, suppress double logging
StandardOutput=null
EnvironmentFile=-/etc/etcd/etcd.conf
User=etcd
ExecStart=/usr/bin/etcd

[Install]
WantedBy=multi-user.target
